*{
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
}

.title {
    margin-top: 50px;
    padding-top: 35px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 30px;
    text-align: center;
    text-shadow: #0000CD 2px 0 10px;
}

.header {
    margin-left: 40px;
    margin-right: 30px;
    font-size: 25px;
    text-align: left;
    text-shadow: #0000CD 2px 0 10px;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px;
    font-size: 15px;
    text-align: left;
    text-shadow: #0000CD 2px 0 10px;
}

